.searchTable {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.searchTable .searchTable__input {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: 1px solid #d6cab0;
	outline: none;
	font-size: 1rem;
	font-weight: lighter;
}

.searchTable .searchTable__input::placeholder {
    color: transparent;
}

.searchTable .searchTable__label{
    position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	font-size: 1rem;
	font-weight: lighter;
	color: #d6cab0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	background: #fff;
	padding: 0 0.25rem;
}

.searchTable .searchTable__input:focus {
    border-color: #9f212f;
}

.searchTable .searchTable__input:focus ~ .searchTable__label {
    top: 0;
    font-size: 0.8rem;
    color: #9f212f;
}

.searchTable .searchTable__input:not(:focus):not(:placeholder-shown) ~ .searchTable__label {
    top: 0;
    font-size: 0.8rem;
    color: #d6cab0;
}