.tableContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
    overflow: hidden;
    /* overflow-x: auto; */
}

.bottomTable{
    width: 100%;
    overflow: auto;
}

.tableContainer .dataTable{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.tableContainer .dataTable thead tr{
    background-color: #9f212f;
    color: #fff;
}

.tableContainer .dataTable thead tr th{
    padding: .5rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

.tableContainer .dataTable tbody tr td{
    padding: .5rem 1rem;
    text-align: center;
}

.tableContainer .dataTable tbody tr:nth-child(even){
    background-color: #D9D9D9;
}

.tableContainer .dataTable tbody tr:hover{
    background-color: #e0ddd6;
    color: #9f212f;
}

.tableContainer .dataTable tbody tr td.dataTable__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tableContainer .actionsTable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.tableContainer .actionsTable .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.tableContainer .actionsTable .left a{
    text-transform: capitalize;
    text-decoration: none;
    color: #9f212f;
    font-weight: bold;
    cursor: pointer;
}