@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #D6CAB0 #FFFFFF;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 2px;
  width: 2px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #D6CAB0;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9F212F;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #9F212F;
}